
<label>
  Secure your API Gateway end points from last assignment 90 points
</label>

<pre xmp style="width: 1200px;">
  Use Api-Keys y le paso el header a la lambda con la key "harcoreada"
</pre>


<label>
  List the 3 main things you need to do in order achieve your professional goals. 10
points.
</label>
<pre xmp style="width: 1200px;">
  1.-Visualizarme en donde quiero estar, siempre he creido en la ley de la atraccion y que todo lo que pedimos se hace realidad.

  2.- Luchar por ellos que deseo, una vez que marco la meta de decir, esto quiero hacer, lo siguiente es pasar por por las pruebas que ese camino establezca
  y creo que es una de las partes mas dificiles ya que estas van en aumento por el deseo de estar mejor.

  3.-Mantener ese sueño y no estancarte , actuamente me siento en esa parte, ya que me cuesta mas aprender las cosas que vemos y no he encontrado esa ayuda que me
  ayuda que me permita avanzar rapido en vez de quedarme atorado en algun tema. Te cuesta trabajo por que tambien vas entendiendo quienes pueden ser tus companeros de apoyo o tu amigo
  y creo que despues de luchar por lo que quieres o en donde quieres estar sigue el crear tu comunidad,tu ciruclo y ese se empieza a comlicar ya sea por la madruez o experencias de vida
  de cada persona, muchos queran verte abajo y pocos ayudarte.

  En lo personal siempre he tenido presente el apoyo hacia los demas, si eres bueno aprendiendo algo lo mejor es ensenarlo para que la paerona que viene de tras de ti sea mejor que ti y de esa forma tener uan mente
  de evolucionar y no ser un egoista, cierto esta que no toda informacion debe de ser revelada pero si la necesiaria puede ser compartida. Y me sorprende
  que antes muchos companeros buscaban el conocer y ahora que estan en ese punto pocos regresan ese favor y es curioso pero me imagino que asi se va formando uno, atraves de estas trabajas .


</pre>
