
<h1>HomeWorks List</h1>
<div>
  <li><a href="#!/homework_1">Tarea 1</a></li></li>
  <li><a href="#!/homework_2">Tarea 2</a></li></li>
  <li><a href="#!/homework_3">Tarea 3</a></li></li>
  <li><a href="#!/homework_4">Tarea 4 - Marvel API</a></li></li>
  <li><a href="#!/homework_5">Tarea 5 Api-Key</a></li></li>
  <li><a href="#!/homework_6">Tarea 6 - Lectura AWS Article</a></li></li>
  <li><a href="#!/homework_4">Tarea 7 Marvel API part2</a></li></li>
  <li>Tarea 8 (No Disponible)</a></li></li>
  <li>Tarea 9 (No Disponible)</a></li></li>
  <li>Tarea 10 (No Disponible)</a></li></li>
</div>
